.header {
  margin: 10px 0px;
}

.header img {
  width: 25px;
  height: 25px;
  vertical-align: bottom;
}

.header span {
  font-size: 1.5em;
  vertical-align: top;
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.search-criteria-box {
  display: flex;
  flex-direction: row;
  flex: .4;
}

.search-button-box {
  flex: .6;
}

.search-criteria-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.paging-buttons-group {
  margin-top: 10px;
  text-align: center;
}

.search-btn {
  padding: 8px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #1a8cff;
  color: #ffffff;
  border-radius: 10px;
}

.search-btn:hover {
  background: #4da6ff;
}

.select-btn {
  padding: 8px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #ff4d4d;
  color: #ffffff;
  border-radius: 10px;
}

.select-btn:hover {
  background: #ff9999;
}
